entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Run Chapter3"

[[workflows.workflow]]
name = "Run"
author = 42277459
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = " node 01_JS_basics/chapter_02/04_Operators_Experations.js"

[[workflows.workflow]]
name = "Run Chapter 2"
author = 42277459
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node 01_JS_basics/chapter_02/06_practiceSet.js"

[[workflows.workflow]]
name = "Run Chapter3"
mode = "sequential"
author = 42277459

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node 01_JS_basics/chapter_03/10_practiseSet.js"
